.select {
    min-width: 140px;
    height: 35px;
    text-align: center;
    padding: 5px 12px 0 12px;
    font-size: 14px;
    border: 2px solid #002060;
    border-radius: 7px;
    color: #002060;
    font-weight:500;
    position: relative;
}

.select span{
    position: absolute;
    top: -12px;
    left: -6px;
    background: white;
    padding: 0 5px 0 5px;
    font-size: 10px;
}

.defaultButton {

    border-radius: 7px;
    background-color: #002060;
    color: white;
    font-size: 14px;
    box-shadow: 2px 2px 8px #002060;
}